extends layout

block content
  //h1= title
  //p Welcome to #{title}
  //hr
  //p This is an express app as example of continues delivery
  //h5 Armin Haghi
  <center>
  img(src="http://images.dailytech.com/nimage/Google_Logo_Color_Wide.png")
  br
  input
  br
  button Google Search
  button I'm Feeling Lucky
  </center>
